@model IEnumerable<FormBuilder.Models.CustomForm>

@{
    ViewBag.Title = "Form Yönetim Sayfası";
    Html.RenderPartial("_NewFormPopup", new FormBuilder.Models.CustomForm());
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Content/scripts/searchTable.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/scripts/getModal.js")"></script>
}

<link href="@Url.Content("~/Content/styles/CreateForm.css")" rel="stylesheet" type="text/css" />

<div class="container">
    <h1>FormBuilder</h1>
    <h2>Hoşgeldin, @User.Identity.Name!</h2>
    <h3 id="addSuccess"></h3>
    <br />
    <h3>Form Yönetim Sayfası</h3>
    <div style="display:inline-flex">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Yeni Form Oluştur</button>
        <input class="form-control" style="margin-left: 600px" id="search" type="text" placeholder="Form Ara..">
    </div>
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
        <tbody id="formTable">
            @foreach (var item in Model)
            {
            <tr>
                <td class="formName">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Görüntüle", "ShowForm", new { id = item.FormId }, new { @class = "showForm" }) |
                    @Html.ActionLink("Sil", "DeleteForm", new { }, new { @class = "deleteForm", @id = item.FormId })
                </td>
            </tr>

            }
        </tbody>
    </table>
</div>