@model FormBuilder.Models.CustomForm

@{
    ViewBag.Title = "Yeni Form Popup";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Content/scripts/getModal.js")"></script>
}

<link href="@Url.Content("~/Content/styles/CreateForm.css")" rel="stylesheet" type="text/css" />

@*Modal Start*@
<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Form Oluştur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "modalform", role = "form" }))
                {
                    @Html.ValidationSummary(excludePropertyErrors: true)
                    @Html.AntiForgeryToken()
                    <h3><i class="fa fa-sign-in" aria-hidden="true"></i> Form Bilgileri</h3>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, "Form Adı", new { @class = "control-label" })
                        <i id="username-help" class="fa fa-info-circle"></i>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "formName" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, "Açıklama", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @id = "formDesc" })
                    </div>
                    <div class="form-group" id="fieldOptions">
                        <fieldset id="formfields">
                            <legend>Form Alanları</legend>
                        </fieldset>
                        <p>Not: Girilmesi gerekli olan alanları işaretleyin.</p>
                        <input type="button" value="Alan ekle" class="add" id="add" />
                    </div>

                    <div class="form-group">
                        <div class="modal-footer">
                            <button type="submit" id="btn-popup" class="btn btn-primary">Kaydet</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*Modal End*@